<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-6">
              <!-- Form Basic -->
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"> Edit product details</h6>
                </div>
                <div class="card-body">
                  <form method="POST" action="{% url 'updateproduct' dataid=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label>category</label>
                      <select name="category" >

                          {% for d in da %}
                          <option>{{d.category_name}}</option>
                         {% endfor %}
                      </select>

                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Product name</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pname" value="{{data.productname}}">

                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Product price/kg</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" value="{{data.productprice_per_kg}}">

                    </div>
                      <div class="form-group">
                      <label for="exampleInputEmail1">Product quantity in kg</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="quantity" value="{{data.product_quantity}}">

                    </div>
                     <div class="form-group">
                      <div class="custom-file">

                        <input type="file" class="custom-file-input" id="customFile" name="image" value="{{data.image}}">
                        <label class="custom-file-label" for="customFile">Upload product image</label>
                      </div>
                           <button type="submit" class="btn btn-primary">update</button>
                  </form>
                </div>
              </div>


</body>
</html>
{% endblock %}